<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas del Usuario</title>
</head>
<body>
<h1>Películas del Usuario</h1>
<table>
    <thead>
    <tr>
        <th>Título</th>
        <th>Puntuación</th>
        <th>Opinión</th>
    </tr>
    </thead>
    <tbody>
    <% if (movies.length > 0) { %>
        <% movies.forEach(movie => { %>
            <tr>
                <td><%= movie.title %></td>
                <td><%= movie.rating %></td>
                <td><%= movie.opinion %></td>
            </tr>
        <% }) %>
    <% } else { %>
        <tr>
            <td colspan="3">No hay películas en la lista.</td>
        </tr>
    <% } %>
    </tbody>
</table>
<a href="/">Volver a la página principal</a>
</body>
</html>