<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
</head>
<body>
    <h1>Registro de Usuario</h1>
    <form action="/register" method="POST">
        <label for="user_username">Nombre de usuario:</label>
        <input type="text" name="user_username" id="user_username" required>

        <label for="user_name">Nombre completo:</label>
        <input type="text" name="user_name" id="user_name" required>

        <label for="user_email">Email:</label>
        <input type="email" name="user_email" id="user_email" required>

        <label for="user_password">Contraseña:</label>
        <input type="password" name="user_password" id="user_password" required>

        <button type="submit">Registrar</button>
    </form>

    <!-- Muestra el mensaje de éxito o error, si existe -->
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
</body>
</html>
